<main>
    <div class="row">
        <div class="col text-center">
            <a href="#"><button type="button" class="btn btn-primary btn-lg">Create Course</button></a>
        </div>
    </div>


    <div class="border border-light p-5">
        <h1 class="text-center">Choose Course</h1>
        <ul class="list-group">

            <li class="list-group-item">
                Angular
                <div class="float-right">
                    <div class="btn-group" role="group">
                        <a href="#"><button type="button" class="btn btn-warning">Edit Course</button></a>
                        <a href="#"><button type="button" class="btn btn-success">Add lectures</button></a>
                    </div>
                    Lectures in course
                    <span class="badge badge-primary badge-pill">5</span>
                </div>
            </li>


            <li class="list-group-item">
                Express
                <div class="float-right">
                    <div class="btn-group" role="group">
                        <a href="#"><button type="button" class="btn btn-warning">Edit Course</button></a>
                        <a href="#"><button type="button" class="btn btn-success">Add lectures</button></a>
                    </div>
                    Lectures in course
                    <span class="badge badge-primary badge-pill">3</span>
                </div>
            </li>

        </ul>
    </div>
</main>